<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
table {
  border-collapse: separate;
  
}
 table {
        border-collapse: separate;
        border-spacing: 20px 0;
      }
      th {
        background-color: #4287f5;
        color: white;
      }
    
      h2 {
        color: blue;
      }
hr{
  border: 2px solid blue;
}
#small{
    border: 1px solid grey;

}
table th{
margin:500px;
}
li{
    font-size:15px;
    color:black;
}
</style>
<body>

<div class="container">
  <h1 style="text-align:center" >Arun  <b> Sharma </b> </h1>
  <p style="text-align:center;color:blue;font-size:20px;"> <b>Second year CSE under graduate </b></p>        
 
 <div style="text-align:center;font-size:15px;">
 <a href="#" class="fa fa-phone" > 8146411181</a>
&nbsp&nbsp
<a href="#" class="fa fa-envelope"> arunsharmamoh@gmail.com</a>
&nbsp&nbsp
<a href="#" class="fa fa-linkedin"> arun1117</a>

 </div>
 <div id="divider">

 </div>
  <table class="table">
    <thead>
      <tr>
        <td  width="45%">
        <div id="intro" width="80%" >
        <h2  > INTRODUCTION  </h2>
        <hr>
        <p> my nm is jfnjkndfgdfsgfdfLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

   </div>
   <div id="project" width="80%" >
    <h2  > PROJECTS </h2>
    <hr>
    <h3> web develpoment   </h3>

    <p> my nm is jfnjkndfgdfsgfdfLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </p>
      <hr id="small">
</div>

<h3> web develpoment   </h3>

<p> my nm is jfnjkndfgdfsgfdfLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
  <hr id="small">
</div>

   </td>
        
        
        <td  width="45%"> 

            <div id="skills" width="80%">
        <h2> skills</h2>
        <hr> 
    
    <button class="btn btn-danger"> css</button>
    <button class="btn btn-primary"> js</button>
    <button class="btn btn-primary"> java</button>
    <button class="btn btn-primary"> css</button>
    <button class="btn btn-primary"> css</button>
    <button class="btn btn-primary"> js</button>
    <button class="btn btn-primary"> java</button>
    <button class="btn btn-primary"> css</button>
            </div>

            <div>
            <h2> EDUCATION </h2>
            <hr>
            <h3> chitkara university</h3>
            <p>  2020 -2024  &nbsp&nbspCGPA :10/10</p>

            <hr id="small">
   
            <h3> chitkara university</h3>
            <p>  2020 -2024  &nbsp&nbspCGPA :10/10</p>

            <hr id="small">
          
            <h3> chitkara university</h3>
            <p>  2020 -2024  &nbsp&nbspCGPA :10/10</p>

            <hr id="small">
            </div>

            <div id="achivements">
                <h2> ACHIEVEMENTS </h2>
                <hr>
                <ul>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    <li> arun sharm a</li>
                    
                </ul>

            </div>

    </td>
      </tr>
    </thead>
    <tbody>

  </table>
</div>

</body>
</html>
